@{
    ViewData["Title"] = "About Page";
}

<section class="about-section style-two about-page-1">
    <div class="container">
        <div class="top-content">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div>
                        <figure class="image"><img src="../images/about-2.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                    <div class="content-box">
                        <div class="sec-title">
                            <h4>About Magnum</h4>
                            <h1>Improving the quality of life for men.</h1>
                        </div>
                        <p class="text">
                            Magnum Pharmaceuticals is a privately held pharmaceutical company.
                        </p>
                        <p class="text">
                            Established in 2012, our objective is to improve the quality of life for men that desire to reach their highest physical potential and enjoy life to the fullest.
                        </p>
                        <p class="text">
                            Magnum Pharmaceuticals offers the most extensive line of anti-aging formulations and specialty pharmaceuticals, as well as a wide range of natural rejuvenation compounds.
                        </p>
                </div>
            </div>
        </div>
    </div>

    </section>

    

