@{
    ViewData["Title"] = "Verification Success";
}

<div class="text-center">
    <h1 class="display-4">Verification Success</h1>
    <p>Done register barcode [@ViewBag.Serial] [@ViewBag.PIN]</p>
</div>
