<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
                <i class="fas fa-window-close" aria-hidden="true"></i> <!-- Compliant icon fonts usage -->
            </button>
            <div class="modal-body">
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            <div class="product-thumb" style="text-align: center; padding-top: 30px;">
                                <img src="/images/product/pro-img2.png" style="width: 60%;" alt="shop">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-content">
                                <h5>Product Title Here</h5>
                                <span>Product Long Name, 300 mg/ml – 10 x 1ml Amps</span>
                                <span>$200</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                            <h6>Composition</h6>
                            <div class="container" style="font-weight: 100; font-size: 14px; margin-bottom: 20px">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        Lorem ipsum
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        40mg
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        Lorem ipsum
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        40mg
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        Lorem ipsum
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        40mg
                                    </div>
                                </div>
                            </div>
                            <h6>Performance Chart</h6>
                            <div class="rating">
                                <span class="title">Strength: </span>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                            </div>
                            <div class="rating">
                                <span class="title">Muscle: </span>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                            </div>
                            <div class="rating">
                                <span class="title">Fat/Water Loss: </span>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                            </div>
                            <div class="rating">
                                <span class="title">Side Effect: </span>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                                <a href="#">
                                    <i class="far fa-star" aria-hidden="true"></i>  <!-- Compliant icon fonts usage -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   