/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.intro {
    background: rgb(244, 244, 244);
}
.intro .container {
    max-width: 930px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
}
.main_menu_area {
    position: absolute;
    z-index: 1000;
    left: 0px;
    width: 100%;
    padding-top: 15px;
}

.navbar {
    background: transparent;
    padding: 0px;
}

.navbar h1 {
    color: #fff;
}

.navbar .navbar-collapse {
    text-align: right;
}

@media (min-width: 992px) {
    .navbar .navbar-collapse {
        display: block !important;
    }
}

.navbar .navbar-nav {
    display: inline-block;
    text-align: right;
}

.navbar .navbar-nav > .nav-item {
    display: inline-block;
    margin-right: 40px;
    padding: 25px 0px;
}

.navbar .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    font-weight: 600;
    padding: 0px;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    position: relative;
}

.navbar .navbar-nav > .nav-item > .nav-link:after {
    display: none;
}

.navbar .navbar-nav > .nav-item:hover a, .navbar .navbar-nav > .nav-item.active a {
    color: #fff;
}

.navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.navbar .navbar-nav > .nav-item.submenu .dropdown-menu a {
    color: #1D5DF9;
}

@media (min-width: 992px) {
    .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
        -webkit-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        display: block;
        min-width: 210px;
        background: #fff;
        border-radius: 0px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        visibility: hidden;
        margin-top: 1px;
        top: 120%;
        left: -23px;
        opacity: 0;
        border-top: 2px solid rgb(213, 0, 0);
    }
}

.navbar .navbar-nav > .nav-item.submenu .dropdown-menu li {
    margin-right: 0px;
    display: block;
}

.navbar .navbar-nav > .nav-item.submenu .dropdown-menu li a {
    display: block;
    line-height: 36px;
    font-size: 15px;
    padding: 5px 15px;
    text-transform: inherit;
    -webkit-transition: all 200ms linear 0s;
    transition: all 200ms linear 0s;
    font-weight: 400;
    text-shadow: none;
    color: #333;
}
.dropdown-menu li a {
    color: #9300f7;
}

.header-2 .navbar .navbar-nav > .nav-item > .nav-link {
    color: #ccc;
}

.header-2.navbar_fixed {
    background: #ffffff;
}

.header-2.navbar_fixed .navbar .navbar-nav > .nav-item > .nav-link {
    color: #57667e;
}

@media (min-width: 992px) {
    .navbar .navbar-nav > .nav-item:hover.submenu .dropdown-menu {
        visibility: visible;
        top: 100%;
        opacity: 1;
    }
}
.navbar .navbar-nav > .nav-item:last-child {
    margin-right: 0px;
}
.banner {
    position: relative;
    padding: 230px 0;
    background-image: url('/images/intro.jpg');
    background-size: cover;
}
.bannner-content h1 {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}
.bannner-content p {
    margin-bottom: 50px;
    font-size: 18px;
    color: #ccc;
}
.bannner-content a {
    padding: 18px 50px;
    font-weight: 600;
    color: #fff;
    background: rgb(213, 0, 0);
}

@media (max-width: 575px) {
    .banner {
        padding: 130px 0;
    }
    .bannner-content h1 {
        font-size: 40px;
        line-height: initial;
    }
}

.containerCard {
    background-color: #fff;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 2px 5px 5px lightgrey;
}

@media (min-width: 768px) {
    .mediaRow {
        padding: 0 14px;
    }
}

.fail-bg {
    padding-bottom: 0;  
    background: #611b32;
    background-image: -webkit-radial-gradient(closest-corner,rgba(255,255,255,0) 60%,rgba(16,47,70,.26)),-webkit-linear-gradient(145deg,#e02d20,#611b32,#082d2a 119%);
    background-image: -moz-radial-gradient(closest-corner,rgba(255,255,255,0) 60%,rgba(16,47,70,.26)),-webkit-linear-gradient(145deg,#e02d20,#611b32,#082d2a 119%);
    background-image: -ms-radial-gradient(closest-corner,rgba(255,255,255,0) 60%,rgba(16,47,70,.26)),-webkit-linear-gradient(145deg,#e02d20,#611b32,#082d2a 119%);
}

.primaryTitle {
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}

@media (min-width: 768px) {
    .resultContainer .primaryTitle {
        font-size: 2.5rem;
        margin-bottom: 45px;
    }
}

.statusIcon {
    width: 75px;
    padding: 5px 0
}

@media (min-width: 768px) {
    .statusIcon {
        width: 75px;
        padding: 5px 0;
    }
}

.productState {
    font-size: 22px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto
}


.sucess-bg {
    color: #fff;
    padding: 15px 15px 0;
    background-image: linear-gradient(250deg,#00C9A7 40%,#00BB98 50%);
    box-shadow: 0 12px 12px 0 rgba(0,0,0,.08),0 -2px 6px 0 rgba(240,240,240,.5);
    font-weight: 100
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
  /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
